.charHelperDataDescription {
    display: flex;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.charHelperDataDescription > .menu_button {
    align-self: self-start;
    padding: 0 !important;
    margin: -4px 0 0 4px !important;
}

@media (min-width: 1000px) {
    #charHelperPanelHolder {
        width: calc(var(--sheldWidth) - 2%);
    }

    .charHelperDataNumber {
        width: 20% !important;
    }

    .charHelperDataSelect {
        width: 40% !important;
    }
}

.charHelperDataSelect > option:disabled {
    color: #FFFFFF;
    font-size: calc(var(--mainFontSize));
    font-weight: bold;
}

.charHelperGroupData {
    margin-top: 1em;
    margin-bottom: 1em;
}

.charHelperGroupData:has(.charHelperDataNumber), .charHelperGroupData:has(.charHelperDataText) {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.charHelperSubGroup {
    margin-left: 1.5em;
}

.charHelperSubGroup > div > .charHelperGroupData {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#send_form_help_btn_container {
    margin-left: auto;
    margin-right: 1%;
}

#send_form_help_btn_container > .menu_button {
    font-size: 12px;
    padding: 0px 5px 2px 5px;
}

#send_form_help_btn_container > .menu_button:focus-visible {
    background-color: var(--black50a) !important;
    outline: 0px solid var(--interactable-outline-color) !important;
}
